<html lang="en">
  <%- include('partials/header') %>
  <body>
    <a-scene vr-mode-ui="enabled: false" renderer='antialias: true; alpha:true'
        arjs='videoTexture: true; sourceType: webcam; debugUIEnabled: false'>
        <a-camera gps-camera-position gps-camera-rotation gps-camera rotation-reader>
        </a-camera>
        
        <% for(var i=0; i< locations.length;i++){ %>
            <!--<a-text font="kelsonsans" look-at="[gps-camera]" scale="50 50 50" value="<%= locations[i].text %>" width="6" gps-entity-place="latitude: <%= locations[i].lat %>; longitude: <%= locations[i].lon %>;"></a-text>-->
            
            <a-entity gltf-model="./assets/models/arjs/CesiumMan.glb" animation-mixer scale="50 50 50" gps-entity-place="latitude: <%= locations[i].lat %>; longitude: <%= locations[i].lon %>;"></a-text>

        <% } %>
        
    
    </a-scene>
</body>
</html>
