<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <model-viewer class="model" src=<%="./assets/models/glb/" + product.modelAndroid %>
      ios-src=<%="./assets/models/usdz/" + product.modelIos %> 
      auto-rotate camera-controls
      ar 
      skybox-image="./assets/img/spruit_sunrise_1k_HDR.hdr" 
      shadow-intensity="1"
      shadow-softness="1" 
      poster=<%="./assets/thumbnails/" + product.thumbnail %> 
      >
      <button
        slot="ar-button"
        style="
          background-color: white;
          position: absolute;
          top: 10px;
          right: 10px;
          border: none;
        "
      >
        Ver en AR
      </button>
    
      <% for(var i=0; i< product.buttons.length;i++){ %>
        <button 
          data-toggle="modal" 
          data-target="#arModal"
          class="Hotspot" 
          slot=<%= "hotspot-"+product.buttons[i].idButton %> 
          data-position="<%= product.buttons[i].dataPosition[0] %> <%= product.buttons[i].dataPosition[1] %> <%= product.buttons[i].dataPosition[2] %>" 
          data-normal="<%= product.buttons[i].dataNormal[0] %> <%= product.buttons[i].dataNormal[1] %> <%= product.buttons[i].dataNormal[2] %>"
          data-visibility-attribute="hidden">
          <div class="HotspotAnnotation"><%= product.buttons[i].text %></div>
        </button>
      <% } %>
      
      <!-- Modal -->
      <%- include('partials/product-modal',{modal:product.info}) %>
      <!-- Modal -->
    
    </model-viewer>
    <div class="card-body">
      <p class="card-text"><%= product.info.message %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>
</div>  