<model-viewer class="model" src=<%="./assets/models/glb/" + product.modelAndroid %>
  ios-src=<%="./assets/models/usdz/" + product.modelIos %> auto-rotate camera-controls
  ar skybox-image="./assets/img/spruit_sunrise_1k_HDR.hdr" shadow-intensity="1"
  shadow-softness="1" poster=<%="./assets/thumbnails/" + product.thumbnail %> >
  <button
    slot="ar-button"
    style="
      background-color: white;
      position: absolute;
      top: 10px;
      right: 10px;
      border: none;
    "
  >
    Ver en AR
  </button>

  <% for(var i=0; i< product.buttons.length;i++){ %>
    <button 
      data-toggle="modal" 
      data-target="#arModal"
      class="Hotspot" 
      slot=<%= "hotspot-"+product.buttons[i].idButton %> 
      data-position="<%= product.buttons[i].dataPosition[0] %> <%= product.buttons[i].dataPosition[1] %> <%= product.buttons[i].dataPosition[2] %>" 
      data-normal="<%= product.buttons[i].dataNormal[0] %> <%= product.buttons[i].dataNormal[1] %> <%= product.buttons[i].dataNormal[2] %>"
      data-visibility-attribute="visible">
      <div class="HotspotAnnotation"><%= product.buttons[i].text %></div>
    </button>
  <% } %>
  
  <!-- Modal -->
  <div class="modal fade" id="arModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= product.info %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
</model-viewer>